/* Global */

html {
    scroll-behavior: smooth;
  }

:root {
    --site-font: "june-expt-variable", sans-serif;
}
/* Desktop */

@media screen and (min-width: 0px) {
    /* Navbar */
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
    }

    nav.navbar-nav{
        margin-left: auto; 
        margin-right: 5px;
        margin-top: auto;
        margin-bottom: auto;    
        padding-top: 5px;
       
    }

    a.nav-link {
        padding: 15px;
        font-family: var(--site-font);
        color: black;
        font-size: 25px;
        vertical-align: middle;
    }

    a.nav-link:link {
        text-decoration: none;
    }
    a.nav-link:visited {
        text-decoration: none;
    }
    a.nav-link:hover {
        text-decoration: none;
        color:gray;
    }
    a.nav-link:active {
        text-decoration: none;
        color:black;
    }
    
    .navbar-logo img {
        padding-top: 5px;
        padding-left: 10px;
        max-width: 325px;
    }

    /* Footer */

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .footer-logo img{
        max-width: 40px;
    }

    a.footer-link {
        font-family: var(--site-font);
        font-size: 15px;
        color: black;
        padding-left: 15px;
    }

    a.footer-link:link {
        text-decoration: none;
    }
    a.footer-link:visited {
        text-decoration: none;
    }
    a.footer-link:hover {
        text-decoration: none;
        color:gray;
    }
    a.footer-link:active {
        text-decoration: none;
        color:black;
    }


    /* Homepage */
    .landing-img h1 {
        text-align: center;
        font-size: 80px;
        font-family: var(--site-font);
        color: whitesmoke;
    }

    .landing-img p{
        text-align: center;
        font-size: 30px;
        font-family: var(--site-font);
        color: whitesmoke;
        margin-top: -40px;
    }

    .landing-img {
        display: flex;
        min-height: 600px;
        align-items: center;
        justify-content: center;
        background-image: url("../img/portfoliobg.png");
        background-size: auto 100%;
        background-position: center;
    }

    .header-wrapper {
        max-width: 500px;
    }

    .featured h2 {
        text-align: center;
        font-size: 50px;
        font-family: var(--site-font);
        color: black;
    }

    .ft-work h3 {
        font-size: 30px;
        font-family: var(--site-font);
        color: black;
    }

    .ft-work p {
        font-size: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: black;
    }
    .ft-tags {
       margin-top:100px;
    }

    .ft-tags p{
        display: inline; 
        padding: 15px;
        background-color: cornflowerblue;
        border-radius: 50px;
    }
    
    .ft-work1-wrapper, .ft-work2-wrapper, .ft-work3-wrapper {
        display: flex;
        background-color: beige;
        margin: 30px 80px;
    }

    .ft-work {
        margin-left: 30px;
    }

    .ft-work-img {
        margin: 30px 0px 30px 30px;
    }

    /* Designs */

    .work-head h1, .about-head h1 {
        text-align: center;
        font-size: 50px;
        font-family: var(--site-font);
        color: black;
    }

    /* Gallery code taken from w3schools */
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        flex: 20%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }

    /* End w3schools gallery */

    /* Gallery individual item pages */
    .design-item {
       display:flex; 
       justify-content: center;
       align-items: center;
       margin: 50px;
    }    
    .design-img img {
        max-width: 100%;
        max-height: 600px;
    }
    .design-blurb {
        margin-left: 30px;
        font-family: var(--site-font);
    }

    /* About me Page */

    .about-container {
        margin-right: 20%;
        margin-left: 20%;
    }
    .about-container p,a {
        text-align: center;
        font-size: 22px;
        font-family: var(--site-font);
        color: black;
    }

    .about-container a {
        display: flex;
        justify-content: center;
        margin-bottom: 22px;
    }

    .about-container a:hover {
        color:gray;
    }
    
}

/* Makes a two column-layout instead of four columns for gallery and switches to stacked nav*/
@media screen and (max-width: 800px) {
    .navbar {
        display: inline;
        text-align: center;
    }

    .navbar-logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .navbar-logo img {
        width: 100%;
    }

    .navbar-nav {
        margin-top: 50px;
    }
    
    .column {
      flex: 45%;
      max-width: 50%;
    }

  }


/* Mobile */
@media screen and (max-width: 600px) {
    /* Gallery for single column */
    .column {
        flex: 100%;
        max-width: 100%;
    }

    /* Gallery item pages */
    .design-item {
        display: inline;
        margin: 20px;
    }
    .design-img img {
        max-width: 100%;
    }
    .design-img {
        text-align: center;
        max-width: 100%;
    }
  


}